* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

html,
body {
    height: 100%
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feh-fries-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}
    img.feh-asset {
        position: absolute;
        bottom: 0;
        transition: all 0.3s ease;
    }

    img.box-back {
        bottom: 54%;
        width: 97%;
        transform: translateX(-50%);
        left: 50%;
        display: none;
    }
    /* img.box-lines {
        bottom: 54%;
        width: 97%;
        transform: translateX(-50%);
        left: 50%;
    } */

    /* img.fry {
        width: 12%;
        bottom: 110%;
        display: none;
    } */
    /* img.fry-2 {
        bottom: 102%;
        left: 12%;
        transform: rotate(357deg);
    }
    img.fry-3 {
        bottom: 100%;
        left: 23%;
        transform: rotate(0deg);
    }
    img.fry-4 {
        bottom: 124%;
        left: 34%;
        transform: rotate(359deg);
    }
    img.fry-5 {
        bottom: 132%;
        left: 47%;
        transform: rotate(5deg);
    }
    img.fry-6 {
        bottom: 118%;
        left: 60%;
        transform: rotate(9deg);
    }
    img.fry-7 {
        bottom: 93%;
        left: 70%;
        transform: rotate(12deg);
    }
    img.fry-8 {
        bottom: 110%;
        left: 83%;
        transform: rotate(14deg);
    }
    img.fry-9 {
        bottom: 81%;
        left: 88%;
        transform: rotate(18deg);
    } */


    /** 
     * Shadow
     */
    img.shadow {
        /* end state transform: scale(.60); */
        transform: scale(.95);
    }

    /** 
     * Front of box
     */
    img.box {
        transform: scale(1, 0.8);
        animation-duration: 1.125s;
        animation-name: boxBounce;
        animation-iteration-count: infinite;
        transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
    }

    /** 
     * M logo
     */
    img.m {
        width: 20%;
        left: 50%;
        bottom: 25%;
        transform: translateX(-50%);

        animation-duration: 1.125s;
        animation-name: boxM; 
        animation-iteration-count: infinite;
        /* animation-timing-function: cubic-bezier(0.68, 0.27, 3.9);  */
        transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
    }

    /** 
     * Back of box + lines
     */
    img.box-lines,
    img.box-back {
        bottom: 45%;
        width: 97%;
        transform: translateX(-50%) scale(1, 0.8);
        left: 50%;
    }

    /** 
     * Fries
     */
    img.fry {
        width: 12%;
        bottom: 0;
    }
    img.fry-1 {
        left: 9%;
        bottom: 9%;
        transform: rotate(353deg);
    }
    img.fry-2 {
        bottom: 16%;
        left: 16%;
        transform: rotate(357deg);
    }
    img.fry-3 {
        bottom: 22%;
        left: 24%;
        transform: rotate(0deg);
    }
    img.fry-4 {
        bottom: 29%;
        left: 33%;
        transform: rotate(1deg);
    }
    img.fry-5 {
        bottom: 31%;
        left: 42%;
        transform: rotate(5deg);
    }
    img.fry-6 {
        bottom: 31%;
        left: 51%;
        transform: rotate(9deg);
    }
    img.fry-7 {
        bottom: 26%;
        left: 61%;
        transform: rotate(12deg);
    }
    img.fry-8 {
        bottom: 20%;
        left: 69%;
        transform: rotate(14deg);
    }
    img.fry-9 {
        bottom: 10%;
        left: 79%;
        transform: rotate(11deg);
    }


    /** 
     * Animation
     */
    @keyframes boxBounce {
        0% {
            transform: scale(1, 0.8) translateY(0%);
        }
        30% {
           transform: scale(1, 1) translateY(-50%);
        }
        45% {
           transform: scale(1, 1) translateY(-50%);
        }
        100%
        {
           transform: scale(1, 0.8) translateY(0%);
        }
    }

    @keyframes boxM {
        0% {
            transform: scale(1, 0.8) translateX(-50%) translateY(0%);
        }
        30% {
           transform: scale(1, 1) translateX(-50%) translateY(-210%);
        }
        45% {
           transform: scale(1, 1) translateX(-50%) translateY(-210%);
        }
        100%
        {
           transform: scale(1, 0.8) translateX(-50%) translateY(0%);
        }
    }

    @keyframes shadow {
        0% {
            transform: scale(1, 0.8) translateX(-50%) translateY(0%);
        }
        30% {
           transform: scale(1, 1) translateX(-50%) translateY(-210%);
        }
        45% {
           transform: scale(1, 1) translateX(-50%) translateY(-210%);
        }
        100%
        {
           transform: scale(1, 0.8) translateX(-50%) translateY(0%);
        }
    }



   
