* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

html,
body {
    height: 100%
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feh-fries-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
}
    img.feh-asset {
        position: absolute;
        bottom: 0;
        transition: all 0.5s ease;
    }

    /* .fries-wrapper .m {
        width: 20%;
        transform: translateX(-50%);
        left: 50%;
        bottom: 24%;
    } */

    img.box-back {
        bottom: 54%;
        width: 97%;
        transform: translateX(-50%);
        left: 50%;
        display: none;
    }
    /* img.box-lines {
        bottom: 54%;
        width: 97%;
        transform: translateX(-50%);
        left: 50%;
    } */

    img.shadow {
        bottom: -38%;
        /* end state transform: scale(.60); */
        transform: scale(.95);
        display: none;
    }

    /* img.fry {
        width: 12%;
        bottom: 110%;
        display: none;
    } */
    /* img.fry-2 {
        bottom: 102%;
        left: 12%;
        transform: rotate(357deg);
    }
    img.fry-3 {
        bottom: 100%;
        left: 23%;
        transform: rotate(0deg);
    }
    img.fry-4 {
        bottom: 124%;
        left: 34%;
        transform: rotate(359deg);
    }
    img.fry-5 {
        bottom: 132%;
        left: 47%;
        transform: rotate(5deg);
    }
    img.fry-6 {
        bottom: 118%;
        left: 60%;
        transform: rotate(9deg);
    }
    img.fry-7 {
        bottom: 93%;
        left: 70%;
        transform: rotate(12deg);
    }
    img.fry-8 {
        bottom: 110%;
        left: 83%;
        transform: rotate(14deg);
    }
    img.fry-9 {
        bottom: 81%;
        left: 88%;
        transform: rotate(18deg);
    } */


    /** 
     * Initial values
     */
    img.box {
        transform: scale(1, 0.8);
        display: none;
    }
    img.m {
        width: 20%;
        left: 50%;
        bottom: 24%;
        transform: translateX(-50%) scale(1, 0.8);
        margin-bottom: -80px;
        display: none;
    }
    img.box-lines,
    img.box-back {
        bottom: 54%;
        width: 97%;
        transform: translateX(-50%) scale(1, 0.8);
        left: 50%;
        margin-bottom: -90px;
        display: none;
    }
    
    img.fry {
        width: 12%;
        bottom: 0;
        display: none;
    }
    img.fry-1 {
        left: 0;
        transform: rotate(357deg);
    }
    img.fry-2 {
        bottom: 0;
        left: 12%;
        transform: rotate(357deg);
        display: none;
    }
    img.fry-3 {
        bottom: 100%;
        left: 23%;
        transform: rotate(0deg);
        display: none;
    }
    img.fry-4 {
        bottom: 124%;
        left: 34%;
        transform: rotate(359deg);
        display: none;
    }
    img.fry-5 {
        bottom: 132%;
        left: 47%;
        transform: rotate(5deg);
        display: none;
    }
    img.fry-6 {
        bottom: 118%;
        left: 60%;
        transform: rotate(9deg);
        display: none;
    }
    img.fry-7 {
        bottom: 93%;
        left: 70%;
        transform: rotate(12deg);
        display: none;
    }
    img.fry-8 {
        bottom: 110%;
        left: 83%;
        transform: rotate(14deg);
        display: none;
    }
    img.fry-9 {
        bottom: 81%;
        left: 88%;
        transform: rotate(18deg);
        display: none;
    }



   
